@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#main {
  font-family: 'Lato', sans-serif;
}
#title {
  font-family: 'Montserrat', serif;
  font-size: 60px;
  color: #294a6b;
  text-align: center;
  padding: 30px 0 8px;
  position: relative;
}
#title::before {
  content: "";
  position: absolute;
  left: 48%;
  bottom: 16px;
  width: 350px;
  height: 12px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}
#img-div{
  padding:10px;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption{
  text-align:center;
  margin-top: 10px;
  font-size: 20px;
}
#tribute-title,h3{
  text-align: center;
  margin-top: 80px;
}
ul {
  max-width: 600px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.8;
}
.text-center{
  text-align:center;
}